#certificate{
    width: 100%;
    height: max-content;
}
.certificate__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.certificate__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.certificate__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.certificate__item-image{
    border: 3px solid black;
    border-radius: 1.5rem;
    overflow: hidden;
}
.certificate__item h3{
    font-size: 1.7rem;
    margin: 1rem 0 2rem;
}
.certificate__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.certificate__item-cta .btn{
    font-size: 1rem;
}
/* medium device */
@media screen and (max-width: 1024px){
  .certificate__container{
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
  }
}
/* small device */
@media screen and (max-width: 600px){
    .certificate__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
